body {
  background: url('http://digital.hammacher.com/Items/12197/12197_1000x1000.jpg') center center fixed;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fffee;
}

